<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="media-queries.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <title>TV+</title>
</head>

<body>
  <header>
    <div class="logo">
      <span>TV</span>
      <span>+</span>
    </div>
  </header>
  <main class="search-and-details">
      <!-- Search bar -->
      <aside>
        <div class="search-container blur">
          <input type="search" name="search-bar" id="search-bar" placeholder="Search for a show or movie...">
          <div class="results">
          </div>
        </div>
        <div class="search-error">
          <h3>Oops!</h3>
          <p id="error-msg"></p>
        </div>
      </aside>
      <!-- Movie/Show details -->
      <section>
        <article class="instructions-container">
          <div class="instructions">
            <h2>
              Search for any movie, tv show, <br> videogame, or music video!
            </h2>
            <p>
              Then simply click on it and get detailed information about it.
            </p>
          </div>
        </article>
        <article class="info-container">
          <img id="poster" src="img/poster-default.png" alt="poster">
          <div class="info-text">
            <div class="title-container">
              <span>Title: </span>
              <span id="title" class="reg-text">Lorem ipsum dolor</span>
            </div>
            <div class="release-container">
              <span>Released: </span>
              <span id="release" class="reg-text">25 sept 2020</span>
            </div>
            <div class="director-container">
              <span>Director: </span>
              <span id="director" class="reg-text">Tate Taylor</span>
            </div>
            <div class="actors-container">
              <span>Actors: </span>
              <span id="actors" class="reg-text">Jessica Chastain, John Malkovich, Common</span>
            </div>
            <div class="genre-container">
              <span>Genre: </span>
              <span id="genre" class="reg-text">Action, Drama, Thriller</span>
            </div>
            <div class="plot-container">
              <span>Plot: </span>
              <span id="plot" class="reg-text">Ava is a deadly assassin who works for a black ops organization, traveling the globe specializing in high profile hits. When a job goes dangerously wrong she is forced to fight for her own survival.</span>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="credits">
        Developed by Luis Cárcamo (c)
      </div>
      <ul>
        <li><a href="">
          LinkedIn
        </a></li>
        <li><a href="">
          GithHub
        </a></li>
      </ul>
    </footer>
    <script src="script.js"></script>
</body>

</html>