@media (max-width: 750px) {
  body {
    min-height: 100vh;
    height: auto;
  }

  aside {
    width: clamp(320px, 100%, 440px);
  }

  .search-and-details {
    min-height: calc(100vh - 160px);
    justify-content: center;
  }

  section {
    min-height: 100%;
    height: auto;
    max-height: none;
  }

  .info-container {
    flex-direction: column;
    max-height: none;
    height: auto;
    margin-top: 100px;
  }

  footer {
    min-height: 80px;
  }
}

@media (max-width: 440px) {
  .instructions-container {
    margin-top: 40px;
  }

  .info-container {
    margin-top: 80px;
  }

  /* body {
    justify-content: space-between;
  }

  header {
    height: 40px;
  }

  .logo {
    width: 50px;
    height: 32px;
    border-radius: 8px;
    border: solid #F5F5F5 2px;
  }

  .logo span:first-of-type {
    font-size: 24px;
  }

  .logo span:last-of-type {
    font-size: 32px;
  }

  .search-and-details {
    min-height: calc(100vh - 80px);
  }

  footer {
    min-height: 0;
    height: 40px;
  } */
}
